
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 6.25%;
    --card-primary-color: #338af3;
    --card-title-border-color: #338af3;
}

/* body.yellow {
    --card-primary-color: #F7DD43;
    --card-title-border-color: #746615;
} */

body {
    background-color: #7E2332;
    background-image: url(assets/bg1.png);
    background-position: center;
    /* background-position-y: -310rem; */

     display: flex; 
     justify-content: center;
     align-items: center; 
}

body * {
    font-family: 'Roboto', sans-serif;
    
}


#app {
    width: -moz-fit-content;  
    margin: 63rem auto;
}

header {
    margin-bottom: 70rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.3) ;
}

header:hover {
    transform: scale(1.5);
}

#cards {

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 32rem;
   
}

.card1 { 
    padding: 32rem 23rem;
    text-align: center;
    background: #1d1c19;
    border-bottom: 2rem solid var(--card-primary-color);
    border-radius: 8rem;

}


.card1 h2 {
    display: flex;
    gap: 16rem;
    align-items: center;
    justify-content: center;

    padding: 8rem 16rem;
    border: 1rem solid var(--card-primary-color);
    border-radius: 6rem;

    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53rem;

    background: #202024;
    border-radius: 6rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24rem;
    line-height: 125%;
    text-align: right;
    
    color: #F7DD43;
}

.card1 h2 span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14rem;
    line-height: 125%;
    color: #E1E1E6;
    text-transform: uppercase;
}

.card1 ul {
    display: flex;
    flex-direction: column;
    gap: 24rem;
    width: 293rem;
}

.card1 ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.card1 ul li + li {
    padding-top: 24rem;
    border-top: 1rem solid #323238;
    
}

.card1 ul li strong {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36rem;
    line-height: 125%;
    text-align: center;
    color: #E1E1E6;
}

.card1 h2:hover,
.card1 ul li strong:hover,
.card1 ul li img:hover {

    transform: scale(1.1);

}

/* .card1 h2,
.card1 ul li strong,
.card1 ul li img {

   
} */

.card1 {
    animation: 0;
    animation: appear .2s forwards;
}

@keyframes appear {
    0% {
        transform: translateY(-50rem);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media (max-width: 1150rem) 
{
    
    #cards {
        
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .card1 {
        border-bottom: 2rem solid #F7DD43;
    }

    .card1 h2 {
        border: 1rem solid #746615;
    }
}



